/* Exercise 3: Selectors Playground */

*{
margin:0;
padding:0;
}

h2{
color:navy;
}

#mainHeader{
background-color:lightblue;
padding:20px;
}

.eventCard{
border:1px solid gray;
padding:15px;
}

h3,p{
font-family:Arial;
}